
  @for (movie of listMovies(); track movie) {
    <mat-card>
      <mat-card-content>
        <span>{{ movie.title }}</span>
        <span> Description :  {{ movie.description }}</span>
      </mat-card-content>
      <mat-card-footer>
        <button (click)="edit(movie)" mat-icon-button aria-label="Edit">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
        </button>
        <button (click)="delete(movie)" mat-icon-button aria-label="Remove">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>
  } @empty {
    <p>List vide ...</p>
  }




