<div class="container ">
  <div class="item fadeIn">
    @if (loading()) {
      <div libLoaderDirective></div>
    } @else {
      <mat-card>
        <mat-card-content>

            <lib-input-text
              [label]="'Identifiant'"
              [placeholder]="'Entrer l\'identifiant'"
              id="username"
              [formControl]="loginForm.controls['username']"
            ></lib-input-text>

            <lib-input-text
              [label]="'Mot de passe'"
              [type]="typeInput()"
              id="password"
              [typePassword]="true"
              (showText)="typePassword($event)"
              [placeholder]="'Entrer le mot de passe'"
              [formControl]="loginForm.controls['password']"
            ></lib-input-text>

        </mat-card-content>
        <mat-card-footer>
          <button id="submitLogin"
                  type="submit"
                  [disabled]="loginForm.invalid"
                  (click)="login()"
                  mat-flat-button
          >Se connecter
          </button>
        </mat-card-footer>

        <div class="message-error">
          <p>{{ message() }}</p>
        </div>
      </mat-card>
    }
  </div>
</div>



