:host {
  animation-duration: 1s;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;

    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > mat-card {
        display: flex;
        flex-shrink: 0;
        width: 25vh;
        height: 25vh;

        mat-card-content {
          display: flex;
          flex-direction: column;
          gap: 2rem;
        }

        /* background-color: $box-white-color; */
        > mat-card-footer {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 2vh;
        }

        .message-error {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: red;
          font-size: 12px;
          margin-top: 5px;
        }
      }

    }
  }

  @media (max-width: 74.93em) {
    .container {
      .item {
        width: 50%;
        height: 50%;
        > mat-card {
          justify-content: center;
          align-items: center;
          width: 30vh;
          height: 30vh;

          mat-card-content {
            display: flex;
            flex-direction: column;
            gap: 3rem;
          }
        }
      }
    }
  }

  @media (max-width: 47.93em) {
    .container {
      .item {
        width: 100%;
        height: 100%;
        > mat-card {
          justify-content: center;
          align-items: center;
          width: 25vh;
          height: 30vh;
        }
      }
    }
  }

}
