@use "libs/src/styles/variables.scss";

:host * {
  transition: all 200ms ease-in-out;
}

:host {
  mat-toolbar {
    position: relative;
    z-index: 5;
  }

  mat-sidenav-content {
    padding: 15px;
  }

  mat-sidenav-container {
    height: calc(100vh - 167px);
    background-color: #f1f1f1;
  }

}


