:host {

  mat-list {
    overflow-y: scroll;
  }

  #form {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100% - 100px);
    width: 28vh;
    gap: 20px;
  }

  #form-second {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #form3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }


}
